:root {
    --main-gradient: linear-gradient(to right, #00bf8f, #003b2d);
    --main-gradient-btn: linear-gradient(135deg, #C43737, #E05A5A);
    --font-color: #ffffff;
    --hover: #00bf8f21;
}


/* __________________________botton main hover________________________________________ */
.btn.btn-primary {
    background: var(--main-gradient-btn);

    position: relative;
    overflow: hidden;
}

.btn.btn-primary:hover {
    background: var(--main-gradient);
}

.navbar-light {
    background: var(--main-gradient);
}

.navbar-light .navbar-brand {
    color: var(--font-color);
}

/* .btn.btn-primary span {
    z-index: 1;
}

.btn.btn-primary svg {
    z-index: 1;
}

.btn.btn-primary::before {
    content: "";
    height: 100%;
    background: #2490ef !important;
    position: absolute;
    width: 0px;
    left: 0;
    border-radius: 5px 0px 0px 5px;
    transition: width 0.4s ease;
    /* السموث */

/* } */

/* .btn.btn-primary:hover.btn.btn-primary::before {
    width: 50% !important;
    background: #2490ef !important;
}

.btn.btn-primary::after {
    content: "";
    height: 100%;
    background: #2490ef !important;
    position: absolute;
    width: 0px;
    right: 0;
    border-radius: 0px 5px 5px 0px;
    transition: width 0.4s ease;
    /* السموث */

/* } */
/* 
.btn.btn-primary:hover.btn.btn-primary::after {
    width: 50% !important;
    background: #2490ef !important;
} */

/* record hover */
.list-row .level-right {
    z-index: 5;
}

.list-row .level-left {
    z-index: 99;
}

.list-row {
    position: relative;
    overflow: hidden;
}

.level list-row * {
    z-index: 1;
}

.list-row::before {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    left: 0;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s ease;
}

.list-row::after {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    right: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.4s ease;
}

/* الهوفر الصحيح */
.list-row:hover:not(.list-row-head)::before {
    width: 50% !important;
}

.list-row:hover:not(.list-row-head)::after {
    width: 50% !important;
}

/* الخلفية */
.list-row:hover:not(.list-row-head) {
    background-color: #ff000000;
}

/* __________________________________widget card__________________________________ */

.widget.links-widget-box .link-item {
    position: relative;
    overflow: hidden;
}


.widget.links-widget-box .link-item::before {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    left: 0;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s ease;
}

.widget.links-widget-box .link-item::after {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    right: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.4s ease;
}

/* الهوفر الصحيح */
.widget.links-widget-box .link-item:hover::before {
    width: 50% !important;
}

.widget.links-widget-box .link-item:hover::after {
    width: 50% !important;
}

/* ____________________sidbar _____________________*/
.layout-side-section {
    box-shadow: -4px 0px 4px 1px #e8eafcad, 4px 0px 4px 1px #461a7714;
    border-radius: 10px;
}

.sidebar-item-control {
    z-index: 99;
}


.desk-sidebar .standard-sidebar-item {
    position: relative;
    overflow: hidden;
}

.desk-sidebar .standard-sidebar-item a {
    z-index: 99;
}


.desk-sidebar .standard-sidebar-item::before {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    left: 0;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s ease;
}

.desk-sidebar .standard-sidebar-item::after {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    right: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.4s ease;
}

/* الهوفر الصحيح */
.desk-sidebar .standard-sidebar-item:hover::before {
    width: 50% !important;
}

.desk-sidebar .standard-sidebar-item:hover::after {
    width: 50% !important;
}

.desk-sidebar .standard-sidebar-item:hover {
    background-color: #ff000000;
}

[data-theme="light"] .selected svg {
    filter: brightness(0) invert(1);
}

/* ____________Shortcut________________-*/



.widget.shortcut-widget-box {
    position: relative;
    overflow: hidden;
}

.widget.shortcut-widget-box a {
    z-index: 99;
}


.widget.shortcut-widget-box::before {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s ease;
}

.widget.shortcut-widget-box::after {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.4s ease;
}

/* الهوفر الصحيح */
.widget.shortcut-widget-box:hover::before {
    width: 50% !important;
}

.widget.shortcut-widget-box:hover::after {
    width: 50% !important;
}

#navbar-breadcrumbs a:before {
    filter: brightness(0) invert(1);
}

/*_______________ .btn.btn-default________________ */


.btn.btn-default {
    position: relative;
    overflow: hidden;
}

/* لضمان أن المحتوى فوق الـ before/after */
.btn.btn-default * {
    position: relative;
    z-index: 1;
}

/* ::before */
.btn.btn-default::before {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s ease;
}

/* ::after */
.btn.btn-default::after {
    content: "";
    height: 100%;
    background: var(--hover) !important;
    position: absolute;
    width: 0px;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.4s ease;
}

/* الهوفر */
.btn.btn-default:hover::before {
    width: 50% !important;
}

.btn.btn-default:hover::after {
    width: 50% !important;
}

/* search bar hover */
.awesomplete>[role=listbox]>li:hover {
    background-color: var(--hover) !important;
    color: var(--text-color);
}

.awesomplete>[role=listbox]>li[aria-selected=true] {
    background: var(--main-gradient) !important;
    color: #ffffff;
}

.awesomplete>[role=listbox]>li[aria-selected=true] span {
    color: #ffffff;
}

/* notfiaction hover */
.recent-item:not(.no-hover):hover {
    background-color: var(--hover);
}

/* _______________________________ */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--hover);
}

/* tab doctype  */
.form-tabs-list .form-tabs .nav-item .nav-link.active {
    border-bottom: 1px solid #008163;
    color: #008163;
}

.nav-link {
    border-bottom: solid 0px #C43737;
}

.form-tabs-list .form-tabs .nav-item .nav-link:hover {
    border-bottom: solid 1px #C43737;
}

/* __________________________________ */

.btn.btn-secondary:hover {
    background: var(--hover);
}

/* __________________________ */

.navbar .navbar-home img {
    filter: none;
}

/*________________z-______________ */
.page-form .awesomplete>ul {
    z-index: 100;
}

/* ___________________________________________ */
.page-form .awesomplete>ul {
    min-width: 300px;
    z-index: 100;
}

/* _________________________________________ */
.list-row-head .level-right {
    flex: none;
}